.btn:hover{
    color:blue;
}

input:focus{
    background-color: yellow;
}

input:required{
    background-color: red;
}

P::first-line{
    font: size 120%;
    font-weight: bold;
}

.check:checked{
    outline: 2px solid red;
}